{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ category.name }} - Jesse's Blog{% endblock %}

{% block page_content %}
<div class="row page-content">
    <div class="col-xs-12 col-md-9">
        <div class="post-title">
            <h3>{{ category.name }}</h3>
            <p>最后编辑于{{ moment(category.timestamp).format('LLL') }}</p>
            <p>共有{{ len }}篇文章</p>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('.edit_category', id=category.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                <a href="{{ url_for('.delete_category', id=category.id) }}">
                    <span class="label label-primary">删除</span>
                </a>
            {% endif %}
        </div>
        <div class="post-tabs">
            {% include '_posts.html' %}
        </div>
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.category', id=category.id) }}
        </div>
        {% endif %}
    </div>
    <aside class="col-xs-12 col-md-3 sidebar">
        {% include '_sidebar.html' %}
    </aside>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
    $(".post-body img").addClass('img-responsive');
    </script>
{% endblock %}